/* Container for the stock data */
body{
  /* background-image: linear-gradient( #2a1b3d , #44318d); */
  background-image: linear-gradient( 109.6deg,  rgba(112, 245, 255, 0.842) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgb(92, 165, 248) 100.2% );

}

.stock-data {
  /* max-width: 1200px; */
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  /* height: 100%; */
}

/* Title of the stock data section */
.stock-data-title {
  font-size: 3em;
  text-align: center;
  margin: 5%;
  color: #080567;
  font-weight: 900;
  height: 100%;
}

/* Container for each stock row */
.stock-row {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 150px;

  
}

.stock-row:hover {
  background-color: #d4b1b15a;
}

/* Overview section for each stock */
.stock-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Company name styling */
.company-name {
  font-size: 1.2em;
  font-weight: bolder;
  width: 40%;
}

/* Current price styling */
.current-price {
  font-size: 1.2em;
  font-weight: bolder;
  color: #28CC9E;
margin-right: 10%;
}

/* Toggle button styling */
.toggle-details {
  padding: 5px 10px;
  background-color: #149cdbba;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-details:hover {
  background-color: #14894f;
}

/* Details section for each stock */
.stock-details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
}

.stock-details p {
  margin: 7px 0;
  font-size: 20px;
  text-align: justify;
  font-weight: 900;
}

/* Additional styling for visual appeal */
.price-open {
  color: #007bff;
}

.todays-high {
  color: #28a745;
}

.todays-low {
  color: #dc3545;
}

.volume {
  color: #6c757d;
}

.market-cap {
  color: #ffc107;
}

.eps {
  color: #17a2b8;
}

.pe-ratio {
  color: #fd7e14;
}

.high52 {
  color: #20c997;
}

.low52 {
  color: #e83e8c;
}

.change {
  color: #6610f2;
}